# Ignorar archivos temporales del sistema
.DS_Store
Thumbs.db

# Ignorar archivos de dependencias
node_modules/
vendor/

# Ignorar archivos de compilación
*.o
*.class
*.pyc

# Ignorar variables de entorno
.env
config.json

# Ignorar archivos de configuración de VS Code
.vscode/
